.home {
	background:url('/IMG_ICON_HOME')left no-repeat;
}
.admin {
	background:url('/IMG_ICON_ADMIN')left no-repeat;
}
.reseller {
	background:url('/IMG_ICON_RESELLER')left no-repeat;
}
.user {
	background:url('/IMG_ICON_USER')left no-repeat;
}
.account_management {
	background:url('/IMG_ICON_ACCOUNT')left no-repeat;
}
.server_management {
	background:url('/IMG_ICON_SERVER')left no-repeat;
}
.extra_features {
	background:url('/IMG_ICON_EXTRA')left no-repeat;
}
.reseller_tools {
	background:url('/IMG_ICON_RESELLER_TOOLS')left no-repeat;
}
.email_management {
	background:url('/IMG_ICON_EMAILS')left no-repeat;
}
.file_management {
	background:url('/IMG_ICON_FILES')left no-repeat;
}
.domain_management {
	background:url('/IMG_ICON_DOMAINS')left no-repeat;
}
.database_management {
	background:url('/IMG_ICON_DATABASES')left no-repeat;
}


.service_status {
	background:url('/IMG_ICON_SERVICE')left no-repeat;
}
.account_info {
	background:url('/IMG_ICON_INFO')left no-repeat;
}
.account_stats {
	background:url('/IMG_ICON_STATS')left no-repeat;
}
.control_panel {
	background:url('/IMG_ICON_PANEL')left no-repeat;
}


.change_password {
	background:url('/IMG_ICON_CHANGE_PASSWORD')left no-repeat;
}
.create_backup {
	background:url('/IMG_ICON_CREATE_BACKUP')left no-repeat;
}
.login_history {
	background:url('/IMG_ICON_LOGIN_HISTORY')left no-repeat;
}
.site_summary {
	background:url('/IMG_ICON_SITE_STATS')left no-repeat;
}
.support_center {
	background:url('/IMG_ICON_SUPPORT_CENTER')left no-repeat;
}
.frontpage_extensions {
	background:url('/IMG_ICON_FRONTPAGE_EXTENSIONS')left no-repeat;
}


.email_accounts {
	background:url('/IMG_ICON_EMAIL_ACCOUNTS')left no-repeat;
}
.catchall_email {
	background:url('/IMG_ICON_CATCHALL_EMAIL')left no-repeat;
}
.forwarders {
	background:url('/IMG_ICON_FORWARDERS')left no-repeat;
}
.autoresponders {
	background:url('/IMG_ICON_AUTORESPONDERS')left no-repeat;
}
.mailing_lists {
	background:url('/IMG_ICON_MAILING_LISTS')left no-repeat;
}
.vacation_messages {
	background:url('/IMG_ICON_VACATION_MESSAGES')left no-repeat;
}
.spam_filters {
	background:url('/IMG_ICON_SPAM_FILTERS')left no-repeat;
}
.spamassassin {
	background:url('/IMG_ICON_SPAMASSASSIN')left no-repeat;
}
.webmail {
	background:url('/IMG_ICON_WEBMAIL')left no-repeat;
}


.file_manager {
	background:url('/IMG_ICON_FILE_MANAGER')left no-repeat;
}
.ftp_management {
	background:url('/IMG_ICON_FTP_MANAGEMENT')left no-repeat;
}
.custom_error_pages {
	background:url('/IMG_ICON_CUSTOM_ERROR_PAGES')left no-repeat;
}
.password_protected_dirs {
	background:url('/IMG_ICON_PASSWORD_PROTECTED_DIRS')left no-repeat;
}


.domain_setup {
	background:url('/IMG_ICON_DOMAIN_SETUP')left no-repeat;
}
.domain_pointers {
	background:url('/IMG_ICON_DOMAIN_POINTERS')left no-repeat;
}
.site_redirection {
	background:url('/IMG_ICON_SITE_REDIRECTION')left no-repeat;
}
.subdomain_management {
	background:url('/IMG_ICON_SUBDOMAIN_MANAGEMENT')left no-repeat;
}
.dns_management {
	background:url('/IMG_ICON_DNS_MANAGEMENT')left no-repeat;
}
.mx_records {
	background:url('/IMG_ICON_MX_RECORDS')left no-repeat;
}


.mysql_management {
	background:url('/IMG_ICON_MYSQL_MANAGEMENT')left no-repeat;
}
.phpmyadmin {
	background:url('/IMG_ICON_PHPMYADMIN')left no-repeat;
}


.apache_handlers {
	background:url('/IMG_ICON_APACHE_HANDLERS')left no-repeat;
}
.perl_modules {
	background:url('/IMG_ICON_PERL_MODULES')left no-repeat;
}
.mime_types {
	background:url('/IMG_ICON_MIME_TYPES')left no-repeat;
}
.cronjobs {
	background:url('/IMG_ICON_CRONJOBS')left no-repeat;
}
.login_keys {
	background:url('/IMG_ICON_LOGIN_KEYS')left no-repeat;
}
.server_information {
	background:url('/IMG_ICON_SERVER_INFORMATION')left no-repeat;
}
.ssl_certificates {
	background:url('/IMG_ICON_SSL_CERTIFICATES')left no-repeat;
}


.create_administrator {
	background:url('/IMG_ICON_CREATE_ADMINISTRATOR')left no-repeat;
}
.create_reseller {
	background:url('/IMG_ICON_CREATE_RESELLER')left no-repeat;
}
.create_user {
	background:url('/IMG_ICON_CREATE_USER')left no-repeat;
}
.list_administrators {
	background:url('/IMG_ICON_LIST_ADMINISTRATORS')left no-repeat;
}
.list_resellers {
	background:url('/IMG_ICON_LIST_RESELLERS')left no-repeat;
}
.list_users {
	background:url('/IMG_ICON_LIST_USERS')left no-repeat;
}
.add_package {
	background:url('/IMG_ICON_ADD_PACKAGE')left no-repeat;
}
.manage_packages {
	background:url('/IMG_ICON_MANAGE_PACKAGES')left no-repeat;
}


.ip_management {
	background:url('/IMG_ICON_IP_MANAGEMENT')left no-repeat;
}
.nameservers {
	background:url('/IMG_ICON_NAMESERVERS')left no-repeat;
}
.multi_server_setup {
	background:url('/IMG_ICON_MULTI_SERVER_SETUP')left no-repeat;
}
.move_users {
	background:url('/IMG_ICON_MOVE_USERS')left no-repeat;
}
.service_monitor {
	background:url('/IMG_ICON_SERVICE_MONITOR')left no-repeat;
}
.process_monitor {
	background:url('/IMG_ICON_PROCESS_MONITOR')left no-repeat;
}
.system_backup {
	background:url('/IMG_ICON_SYSTEM_BACKUP')left no-repeat;
}
.log_viewer {
	background:url('/IMG_ICON_LOG_VIEWER')left no-repeat;
}
.file_editor {
	background:url('/IMG_ICON_FILE_EDITOR')left no-repeat;
}
.brute_force_monitor {
	background:url('/IMG_ICON_BRUTE_FORCE_MONITOR')left no-repeat;
}
.administrator_settings {
	background:url('/IMG_ICON_ADMINISTRATOR_SETTINGS')left no-repeat;
}
.licensing {
	background:url('/IMG_ICON_LICENSING')left no-repeat;
}
.plugin_manager {
	background:url('/IMG_ICON_PLUGIN_MANAGER')left no-repeat;
}
.skin_manager {
	background:url('/IMG_ICON_SKIN_MANAGER')left no-repeat;
}
.contact_administrator {
	background:url('/IMG_ICON_CONTACT_ADMINISTRATOR')left no-repeat;
}


.plugin a {
	background:url('/IMG_ICON_EXTRA')left no-repeat;
}
