body {
	background:rgba(160,150,255,0.50) url('/IMG_SKIN_BG_PURPLE') center top fixed no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
a:hover, .theme a:hover, a.tabtext:hover, ul#menu li a:hover, ul#menu li ul li a:hover, ul#content li a:hover,  
input[type=button]:hover, input[type=submit]:hover, input[type=checkbox]:hover, .expand_toggle_neg:hover, .expand_toggle_plus:hover {
	color:rgb(110,100,255);
}
a.tree:hover, a.title:hover, a.listtitle:hover, td.footer a:hover, td.listtitle input[type=button]:hover, td.listtitle input[type=submit]:hover, td.listtitle input[type=checkbox]:hover, .expand_toggle_neg:hover, .expand_toggle_plus:hover {
	color:rgb(160,150,255);
}
td.listtitle input:hover, td.listtitle textarea:hover, td.listtitle input[type=button]:hover, td.listtitle input[type=submit]:hover, td.listtitle input[type=checkbox]:hover {
	background:rgba(0,0,0,0.25);
}
input, textarea, select {
	background:rgba(160,150,255,0.15);
	background:linear-gradient(top, rgba(160,150,255,0.05) 0%, rgba(160,150,255,0.15) 100%);
	background:-o-linear-gradient(top, rgba(160,150,255,0.05) 0%, rgba(160,150,255,0.15) 100%);
	background:-ms-linear-gradient(top, rgba(160,150,255,0.05) 0%, rgba(160,150,255,0.15) 100%);
	background:-moz-linear-gradient(top, rgba(160,150,255,0.05) 0%, rgba(160,150,255,0.15) 100%);
	background:-webkit-linear-gradient(top, rgba(160,150,255,0.05) 0%, rgba(160,150,255,0.15) 100%);
}
input[type=button], input[type=submit] {
	background:linear-gradient(top, rgba(160,150,255,0.25) 49%, rgba(160,150,255,0.35) 50%, rgba(160,150,255,0.20) 100%);
	background:-o-linear-gradient(top, rgba(160,150,255,0.25) 49%, rgba(160,150,255,0.35) 50%, rgba(160,150,255,0.20) 100%);
	background:-ms-linear-gradient(top, rgba(160,150,255,0.25) 49%, rgba(160,150,255,0.35) 50%, rgba(160,150,255,0.20) 100%);
	background:-moz-linear-gradient(top, rgba(160,150,255,0.25) 49%, rgba(160,150,255,0.35) 50%, rgba(160,150,255,0.20) 100%);
	background:-webkit-linear-gradient(top, rgba(160,150,255,0.25) 49%, rgba(160,150,255,0.35) 50%, rgba(160,150,255,0.20) 100%);
}
input[type=button]:hover, input[type=submit]:hover {
	background:linear-gradient(top, rgba(160,150,255,0.01) 49%, rgba(160,150,255,0.11) 50%, rgba(160,150,255,0.06) 100%);
	background:-o-linear-gradient(top, rgba(160,150,255,0.01) 49%, rgba(160,150,255,0.11) 50%, rgba(160,150,255,0.06) 100%);
	background:-ms-linear-gradient(top, rgba(160,150,255,0.01) 49%, rgba(160,150,255,0.11) 50%, rgba(160,150,255,0.06) 100%);
	background:-moz-linear-gradient(top, rgba(160,150,255,0.01) 49%, rgba(160,150,255,0.11) 50%, rgba(160,150,255,0.06) 100%);
	background:-webkit-linear-gradient(top, rgba(160,150,255,0.01) 49%, rgba(160,150,255,0.11) 50%, rgba(160,150,255,0.06) 100%);
}
.purple {
	box-shadow:0px 0px 5px 0px rgb(255,255,255);
	-moz-box-shadow:0px 0px 5px 0px rgb(255,255,255);
	-webkit-box-shadow:0px 0px 5px 0px rgb(255,255,255);
}
ul#menu li ul li {
	background:rgba(220,210,255,0.95);
}
td.tab {
	background:rgba(160,150,255,0.30);
}
td.tabselected {
	background:rgba(160,150,255,0.20);
}
.highlighted {
	background:rgba(160,150,255,0.20);
	border:1px solid rgba(160,150,255,0.75);
}
td.list, td.listwrap, .bar-row2, tr:nth-child(odd) > td.list_alt, tr:nth-child(odd) > td.listwrap_alt {
	border-bottom:1px solid rgba(160,150,255,0.30);
	background:rgba(160,150,255,0.20);
	background:linear-gradient(top, rgba(160,150,255,0.15) 0%, rgba(160,150,255,0.25) 100%);
	background:-o-linear-gradient(top, rgba(160,150,255,0.15) 0%, rgba(160,150,255,0.25) 100%);
	background:-ms-linear-gradient(top, rgba(160,150,255,0.15) 0%, rgba(160,150,255,0.25) 100%);
	background:-moz-linear-gradient(top, rgba(160,150,255,0.15) 0%, rgba(160,150,255,0.25) 100%);
	background:-webkit-linear-gradient(top, rgba(160,150,255,0.15) 0%, rgba(160,150,255,0.25) 100%);
}
td.list2, td.listwrap2, .bar-row1, tr:nth-child(even) > td.list_alt, tr:nth-child(even) > td.listwrap_alt {
	border-bottom:1px solid rgba(160,150,255,0.10);
	background:rgba(160,150,255,0.15);
	background:linear-gradient(top, rgba(160,150,255,0.25) 0%, rgba(160,150,255,0.15) 100%);
	background:-o-linear-gradient(top, rgba(160,150,255,0.25) 0%, rgba(160,150,255,0.15) 100%);
	background:-ms-linear-gradient(top, rgba(160,150,255,0.25) 0%, rgba(160,150,255,0.15) 100%);
	background:-moz-linear-gradient(top, rgba(160,150,255,0.25) 0%, rgba(160,150,255,0.15) 100%);
	background:-webkit-linear-gradient(top, rgba(160,150,255,0.25) 0%, rgba(160,150,255,0.15) 100%);
}
.listhighlight, .listwraphighlight {
	border-bottom:1px solid rgba(160,150,255,0.20);
	background:rgba(160,150,255,0.10);
	background:linear-gradient(top, rgba(160,150,255,0.05) 0%, rgba(160,150,255,0.15) 100%);
	background:-o-linear-gradient(top, rgba(160,150,255,0.05) 0%, rgba(160,150,255,0.15) 100%);
	background:-ms-linear-gradient(top, rgba(160,150,255,0.05) 0%, rgba(160,150,255,0.15) 100%);
	background:-moz-linear-gradient(top, rgba(160,150,255,0.05) 0%, rgba(160,150,255,0.15) 100%);
	background:-webkit-linear-gradient(top, rgba(160,150,255,0.05) 0%, rgba(160,150,255,0.15) 100%);
}
.list2highlight, .listwrap2highlight {
	border-bottom:1px solid rgba(160,150,255,0.10);
	background:rgba(160,150,255,0.10);
	background:linear-gradient(top, rgba(160,150,255,0.15) 0%, rgba(160,150,255,0.05) 100%);
	background:-o-linear-gradient(top, rgba(160,150,255,0.15) 0%, rgba(160,150,255,0.05) 100%);
	background:-ms-linear-gradient(top, rgba(160,150,255,0.15) 0%, rgba(160,150,255,0.05) 100%);
	background:-moz-linear-gradient(top, rgba(160,150,255,0.15) 0%, rgba(160,150,255,0.05) 100%);
	background:-webkit-linear-gradient(top, rgba(160,150,255,0.15) 0%, rgba(160,150,255,0.05) 100%);
}
.off_white {
	color:1px solid rgba(160,150,255,0.75);
}
.trim {
	border:1px solid rgba(160,150,255,0.75);
}
.top-border {
	border-top:1px solid rgba(160,150,255,0.75);
}
#livesearch {
	background:rgba(160,150,255,0.20);
}
.hoverin {
		background:rgba(160,150,255,0.30);
}
.hoverout {
		background:rgba(160,150,255,0.15);
}
.count_notice_none {
	background:rgba(160,150,255,0.50);
	background:linear-gradient(top, rgba(160,150,255,0.70) 49%, rgba(160,150,255,0.65) 50%, rgba(160,150,255,0.55) 100%);
	background:-o-linear-gradient(top, rgba(160,150,255,0.70) 49%, rgba(160,150,255,0.65) 50%, rgba(160,150,255,0.55) 100%);
	background:-ms-linear-gradient(top, rgba(160,150,255,0.70) 49%, rgba(160,150,255,0.65) 50%, rgba(160,150,255,0.55) 100%);
	background:-moz-linear-gradient(top, rgba(160,150,255,0.70) 49%, rgba(160,150,255,0.65) 50%, rgba(160,150,255,0.55) 100%);
	background:-webkit-linear-gradient(top, rgba(160,150,255,0.70) 49%, rgba(160,150,255,0.65) 50%, rgba(160,150,255,0.55) 100%);
}
.expand_toggle_neg:active, .expand_toggle_plus:active {
	background:rgba(160,150,255,0.50);
	background:linear-gradient(top, rgba(160,150,255,0.90) 49%, rgba(160,150,255,0.85) 50%, rgba(160,150,255,0.65) 100%);
	background:-o-linear-gradient(top, rgba(160,150,255,0.90) 49%, rgba(160,150,255,0.85) 50%, rgba(160,150,255,0.65) 100%);
	background:-ms-linear-gradient(top, rgba(160,150,255,0.90) 49%, rgba(160,150,255,0.85) 50%, rgba(160,150,255,0.65) 100%);
	background:-moz-linear-gradient(top, rgba(160,150,255,0.90) 49%, rgba(160,150,255,0.85) 50%, rgba(160,150,255,0.65) 100%);
	background:-webkit-linear-gradient(top, rgba(160,150,255,0.90) 49%, rgba(160,150,255,0.85) 50%, rgba(160,150,255,0.65) 100%);
	border:1px solid rgba(160,150,255,0.75);
}
.expand_toggle_neg, .expand_toggle_plus {
	background:rgba(160,150,255,0.50);
	background:linear-gradient(top, rgba(160,150,255,0.70) 49%, rgba(160,150,255,0.65) 50%, rgba(160,150,255,0.55) 100%);
	background:-o-linear-gradient(top, rgba(160,150,255,0.70) 49%, rgba(160,150,255,0.65) 50%, rgba(160,150,255,0.55) 100%);
	background:-ms-linear-gradient(top, rgba(160,150,255,0.70) 49%, rgba(160,150,255,0.65) 50%, rgba(160,150,255,0.55) 100%);
	background:-moz-linear-gradient(top, rgba(160,150,255,0.70) 49%, rgba(160,150,255,0.65) 50%, rgba(160,150,255,0.55) 100%);
	background:-webkit-linear-gradient(top, rgba(160,150,255,0.70) 49%, rgba(160,150,255,0.65) 50%, rgba(160,150,255,0.55) 100%);
	border:1px solid rgba(160,150,255,0.75);
	cursor:pointer;
}
