body {
	background:rgb(190,190,190);
	background:linear-gradient(top, rgb(210,210,210) 0%, rgb(190,190,190) 100%) fixed;
	background:-o-linear-gradient(top, rgb(210,210,210) 0%, rgb(190,190,190) 100%) fixed;
	background:-ms-linear-gradient(top, rgb(210,210,210) 0%, rgb(190,190,190) 100%) fixed;
	background:-moz-linear-gradient(top, rgb(210,210,210) 0%, rgb(190,190,190) 100%) fixed;
	background:-webkit-linear-gradient(top, rgb(210,210,210) 0%, rgb(190,190,190) 100%) fixed;
}
a:hover, .theme a:hover, a.tree:hover, a.title:hover, a.listtitle:hover, td.footer a:hover, a.tabtext:hover, ul#menu li a:hover, ul#menu li ul li a:hover, ul#content li a:hover, 
td.listtitle input:hover, td.listtitle textarea:hover, td.listtitle input[type=button]:hover, td.listtitle input[type=submit]:hover, td.listtitle input[type=checkbox]:hover, 
input[type=button]:hover, input[type=submit]:hover, input[type=checkbox]:hover, .expand_toggle_neg:hover, .expand_toggle_plus:hover {
	color:rgb(50,125,200);
}
input, textarea, select, input[type=button], input[type=submit], input[type=checkbox] {
	border:1px solid rgb(185,185,185);
	background:rgba(255,255,255,0.35);
	background:linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.50) 100%);
	background:-o-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.50) 100%);
	background:-ms-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.50) 100%);
	background:-moz-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.50) 100%);
	background:-webkit-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.50) 100%);
}
input[type=button]:hover, input[type=submit]:hover, input[type=checkbox]:hover, td.listtitle input:hover, td.listtitle textarea:hover, td.listtitle input[type=button]:hover, td.listtitle input[type=submit]:hover, td.listtitle input[type=select]:hover, td.listtitle input[type=checkbox]:hover {
	background:rgb(240,240,240);
	background:linear-gradient(top, rgb(245,245,245) 0%, rgb(235,235,235) 100%);
	background:-o-linear-gradient(top, rgb(245,245,245) 0%, rgb(235,235,235) 100%);
	background:-ms-linear-gradient(top, rgb(245,245,245) 0%, rgb(235,235,235) 100%);
	background:-moz-linear-gradient(top, rgb(245,245,245) 0%, rgb(235,235,235) 100%);
	background:-webkit-linear-gradient(top, rgb(245,245,245) 0%, rgb(235,235,235) 100%);
}
input[type=button]:hover, input[type=submit]:hover, input[type=checkbox]:hover {
	border:1px solid rgb(165,165,165);
}
input, textarea, select, td.title input, td.title select, td.listtitle input, td.listtitle select, td.footer input, td.footer select, .blue_gradient input, .blue_gradient select {
	color:rgb(85,85,85);
}
input:hover, textarea:hover, select:hover, td.title input:hover, td.title select:hover, td.listtitle input:hover, td.listtitle select:hover, td.footer input:hover, td.footer select:hover, .blue_gradient input:hover, .blue_gradient select:hover {
	color:rgb(50,50,50);
}
.title, .title a, .listtitle, .listtitle a, td.footer, td.footer a, .blue_gradient, .welcome, a.tabtext, .white {
	text-shadow:0px 0px 3px 0px rgba(0,0,0,0.25);
	color:rgb(60,60,60);
}
.theme, .count_notice_none {
	border:1px solid rgb(255,255,255);
	box-shadow:0px 0px 3px 0px rgb(175,175,175);
	-moz-box-shadow:0px 0px 3px 0px rgb(175,175,175);
	-webkit-box-shadow:0px 0px 3px 0px rgb(175,175,175);
	background:rgb(160,160,160);
	background:linear-gradient(top, rgb(160,160,160) 0%, rgb(150,150,150) 100%);
	background:-o-linear-gradient(top, rgb(160,160,160) 0%, rgb(150,150,150) 100%);
	background:-ms-linear-gradient(top, rgb(160,160,160) 0%, rgb(150,150,150) 100%);
	background:-moz-linear-gradient(top, rgb(160,160,160) 0%, rgb(150,150,150) 100%);
	background:-webkit-linear-gradient(top, rgb(160,160,160) 0%, rgb(150,150,150) 100%);
}
.theme:hover, .theme a:hover, .count_notice:hover, .count_notice_none:hover, .v1 {
	box-shadow:0px 0px 5px 0px rgb(85,85,85);
	-moz-box-shadow:0px 0px 5px 0px rgb(85,85,85);
	-webkit-box-shadow:0px 0px 5px 0px rgb(85,85,85);
}
.v2 {
	background:rgb(100,100,100);
	background:linear-gradient(top, rgb(100,100,100) 45%, rgb(90,90,90) 100%);
	background:-o-linear-gradient(top, rgb(100,100,100) 45%, rgb(90,90,90) 100%);
	background:-ms-linear-gradient(top, rgb(100,100,100) 45%, rgb(90,90,90) 100%);
	background:-moz-linear-gradient(top, rgb(100,100,100) 45%, rgb(90,90,90) 100%);
	background:-webkit-linear-gradient(top, rgb(100,100,100) 45%, rgb(90,90,90) 100%);
}
.service_on, .service_off {
	border:1px solid rgba(0,0,0,0.60);
	box-shadow:0px 0px 3px 0px rgb(185,185,185);
	-moz-box-shadow:0px 0px 3px 0px rgb(185,185,185);
	-webkit-box-shadow:0px 0px 3px 0px rgb(185,185,185);
}
ul#menu li, ul#menu li ul li {
	background:rgb(255,255,255);
}
ul#menu li a, ul#menu li ul li a:hover {
	border-left:1px solid rgb(165,165,165);
	border-right:1px solid rgb(165,165,165);
	border-bottom:1px solid rgb(165,165,165);
	box-shadow:0px 2px 3px 0px rgb(165,165,165);
	-moz-box-shadow:0px 2px 3px 0px rgb(165,165,165);
	-webkit-box-shadow:0px 2px 3px 0px rgb(165,165,165);
	background:rgba(175,175,180,0.15);
	background:linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.30) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.30) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.30) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.30) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.30) 100%);
}
ul#menu li a:hover, ul#menu li ul li a  {
	border-left:1px solid rgb(165,165,165);
	border-right:1px solid rgb(165,165,165);
	border-bottom:1px solid rgb(165,165,165);
	box-shadow:0px 2px 3px 0px rgb(165,165,165);
	-moz-box-shadow:0px 2px 3px 0px rgb(165,165,165);
	-webkit-box-shadow:0px 2px 3px 0px rgb(165,165,165);
	background:rgba(175,175,180,0.30);
	background:linear-gradient(top, rgba(175,175,180,0.30) 0%, rgba(175,175,180,0.15) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.30) 0%, rgba(175,175,180,0.15) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.30) 0%, rgba(175,175,180,0.15) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.30) 0%, rgba(175,175,180,0.15) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.30) 0%, rgba(175,175,180,0.15) 100%);
}
table.table {
	background:rgb(255,255,255);
	border:1px solid rgb(165,165,165);
	box-shadow:0px 0px 5px 0px rgb(165,165,165);
	-moz-box-shadow:0px 0px 5px 0px rgb(165,165,165);
	-webkit-box-shadow:0px 0px 5px 0px rgb(165,165,165);
}
td.tab {
	background:rgba(175,175,180,0.30);
}
td.tabselected {
	background:rgba(175,175,180,0.20);
}
.highlighted {
	background:rgba(175,175,180,0.20);
	border:1px solid rgb(165,165,165);
}
td.title, td.footer, td.listtitle, .blue_gradient {
	border-bottom:1px solid rgba(175,175,180,0.10);
	background:rgba(175,175,180,0.30);
	background:linear-gradient(top, rgba(175,175,180,0.30) 49%, rgba(175,175,180,0.35) 50%, rgba(175,175,180,0.25) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.30) 49%, rgba(175,175,180,0.35) 50%, rgba(175,175,180,0.25) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.30) 49%, rgba(175,175,180,0.35) 50%, rgba(175,175,180,0.25) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.30) 49%, rgba(175,175,180,0.35) 50%, rgba(175,175,180,0.25) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.30) 49%, rgba(175,175,180,0.35) 50%, rgba(175,175,180,0.25) 100%);
}
td.header, td.content, td.stats, td.usage {
	background:rgba(175,175,180,0.15);
	background:linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.30) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.30) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.30) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.30) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.30) 100%);
}
table.list, div.list {
	box-shadow:0px 0px 3px 0px rgb(165,165,165);
	-moz-box-shadow:0px 0px 3px 0px rgb(165,165,165);
	-webkit-box-shadow:0px 0px 3px 0px rgb(165,165,165);
}
td.list, td.listwrap, .bar-row2 {
	border-bottom:1px solid rgba(175,175,180,0.30);
	background:rgba(175,175,180,0.20);
	background:linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
}
td.list2, td.listwrap2, .bar-row1 {
	border-bottom:1px solid rgba(175,175,180,0.10);
	background:rgba(175,175,180,0.15);
	background:linear-gradient(top, rgba(175,175,180,0.25) 0%, rgba(175,175,180,0.15) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.25) 0%, rgba(175,175,180,0.15) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.25) 0%, rgba(175,175,180,0.15) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.25) 0%, rgba(175,175,180,0.15) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.25) 0%, rgba(175,175,180,0.15) 100%);
}
.listhighlight, .listwraphighlight {
	border-bottom:1px solid rgba(175,175,180,0.20);
	background:rgba(175,175,180,0.10);
	background:linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
}
.list2highlight, .listwrap2highlight {
	border-bottom:1px solid rgba(175,175,180,0.10);
	background:rgba(175,175,180,0.10);
	background:linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.05) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.05) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.05) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.05) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.05) 100%);
}
.off_white {
	color:rgba(175,175,180,0.75);
}
.trim {
	border:1px solid rgb(165,165,165);
}
.top-border {
	border-top:1px solid rgb(165,165,165);
}
#livesearch {
	background:rgba(175,175,180,0.20);
}
.hoverin {
	background:rgba(175,175,180,0.30);
}
.hoverout {
	background:rgba(175,175,180,0.15);
}
hr {
  color:rgb(165,165,165);
  border-top:none;
}
.barbg, .expand_toggle_neg, .expand_toggle_plus, .expand_toggle_neg:active, .expand_toggle_plus:active {
	border:1px solid rgb(165,165,165);
	background:rgba(175,175,180,0.20);
	background:linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
}
