body {
	background:#d7d7d7;
	color:#444;
}
a, a:active, a:visited, a.msg, ul#menu li a, ul#menu li ul li a, input[type=button], input[type=submit], input[type=checkbox] {
	color:#444;
}
a:hover, a.msg:hover, ul#menu li a:hover, ul#menu li ul li a:hover, input[type=button]:hover, input[type=submit]:hover, input[type=checkbox]:hover {
	color:#379BD7;
}
input, textarea, select {
	border:1px solid #e7e7e7;
	background:#eee;
}
input[type=button], input[type=submit] {
	background:#eee;
}
ul#menu li a, ul#menu li ul li a:hover {
	border-left:1px solid #afafaf;
	border-right:1px solid #afafaf;
	border-bottom:1px solid #afafaf;
	background:#eee;
}
ul#menu li a:hover, ul#menu li ul li a  {
	border-left:1px solid #afafaf;
	border-right:1px solid #afafaf;
	border-bottom:1px solid #afafaf;
	background:#e7e7e7;
}
table.table {
	background:#fff;
	border:1px solid #afafaf;
}
td.tab {
	background:#e7e7e7;
}
td.tabselected {
	background:#efefef;
}
td.title, td.footer, td.listtitle, .blue_gradient {
	background:#555;
	color:#efefef;
}
td.header, td.content, td.stats {
	background:#e7e7e7;
}
.highlighted {
	background:#efefef;
	border:1px solid #afafaf;
}
table.list, div.list {
	background:#fff;
}
td.list, td.listwrap, .bar-row2 {
	border-bottom:1px solid #e7e7e7;
	background:#f4f4f4;
}
td.list2, td.listwrap2, .bar-row1 {
	border-bottom:1px solid #e7e7e7;
	background:#f0f0f0;
}
.listhighlight, .listwraphighlight {
	border-bottom:1px solid #f3f3f3;
	background:#f8f8f8;
}
.list2highlight, .listwrap2highlight {
	border-bottom:1px solid #f3f3f3;
	background:#f8f8f8;
}
.off_white {
	color:1px solid #444;
}
.trim {
	border:1px solid #444;
}
.top-border {
	border-top:1px solid #444;
}
#livesearch {
	background:#efefef;
}
.hoverin {
		background:#e7e7e7;
}
.hoverout {
		background:#eee;
}
hr {
  color:1px solid #444;
  border-top:1px solid #e7e7e7;
}
.barbg {
	border:1px solid #d7d7d7;
	background:#eee;
}
