body {
	background:rgba(175,175,180,0.50) url('/IMG_SKIN_BG_GRAY') center top fixed no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
a:hover, a.tree:hover, a.title:hover, a.listtitle:hover, td.footer a:hover, a.tabtext:hover, ul#menu li a:hover, ul#menu li ul li a:hover, input[type=button]:hover, input[type=submit]:hover, input[type=checkbox]:hover {
	color:rgb(50,125,200);
}
input, textarea, select {
	background:rgba(175,175,180,0.15);
	background:linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
}
input[type=button], input[type=submit] {
	background:linear-gradient(top, rgba(175,175,180,0.25) 49%, rgba(175,175,180,0.35) 50%, rgba(175,175,180,0.20) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.25) 49%, rgba(175,175,180,0.35) 50%, rgba(175,175,180,0.20) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.25) 49%, rgba(175,175,180,0.35) 50%, rgba(175,175,180,0.20) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.25) 49%, rgba(175,175,180,0.35) 50%, rgba(175,175,180,0.20) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.25) 49%, rgba(175,175,180,0.35) 50%, rgba(175,175,180,0.20) 100%);
}
input[type=button]:hover, input[type=submit]:hover {
	background:linear-gradient(top, rgba(175,175,180,0.01) 49%, rgba(175,175,180,0.11) 50%, rgba(175,175,180,0.06) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.01) 49%, rgba(175,175,180,0.11) 50%, rgba(175,175,180,0.06) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.01) 49%, rgba(175,175,180,0.11) 50%, rgba(175,175,180,0.06) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.01) 49%, rgba(175,175,180,0.11) 50%, rgba(175,175,180,0.06) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.01) 49%, rgba(175,175,180,0.11) 50%, rgba(175,175,180,0.06) 100%);
}
ul#menu li ul li {
	background:rgba(225,225,225,0.95);
}
td.tab {
	background:rgba(175,175,180,0.30);
}
td.tabselected {
	background:rgba(175,175,180,0.20);
}
.highlighted {
	background:rgba(175,175,180,0.20);
	border:1px solid rgba(175,175,180,0.75);
}
td.list, td.listwrap, .bar-row2 {
	border-bottom:1px solid rgba(175,175,180,0.30);
	background:rgba(175,175,180,0.20);
	background:linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.25) 100%);
}
td.list2, td.listwrap2, .bar-row1 {
	border-bottom:1px solid rgba(175,175,180,0.10);
	background:rgba(175,175,180,0.15);
	background:linear-gradient(top, rgba(175,175,180,0.25) 0%, rgba(175,175,180,0.15) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.25) 0%, rgba(175,175,180,0.15) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.25) 0%, rgba(175,175,180,0.15) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.25) 0%, rgba(175,175,180,0.15) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.25) 0%, rgba(175,175,180,0.15) 100%);
}
.listhighlight, .listwraphighlight {
	border-bottom:1px solid rgba(175,175,180,0.20);
	background:rgba(175,175,180,0.10);
	background:linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.05) 0%, rgba(175,175,180,0.15) 100%);
}
.list2highlight, .listwrap2highlight {
	border-bottom:1px solid rgba(175,175,180,0.10);
	background:rgba(175,175,180,0.10);
	background:linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.05) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.05) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.05) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.05) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.15) 0%, rgba(175,175,180,0.05) 100%);
}
.off_white {
	color:1px solid rgba(175,175,180,0.75);
}
.trim {
	border:1px solid rgba(175,175,180,0.75);
}
.top-border {
	border-top:1px solid rgba(175,175,180,0.75);
}
#livesearch {
	background:rgba(175,175,180,0.20);
}
.hoverin {
		background:rgba(175,175,180,0.30);
}
.hoverout {
		background:rgba(175,175,180,0.15);
}
.count_notice_none {
	background:rgba(175,175,180,0.50);
	background:linear-gradient(top, rgba(175,175,180,0.70) 49%, rgba(175,175,180,0.65) 50%, rgba(175,175,180,0.55) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.70) 49%, rgba(175,175,180,0.65) 50%, rgba(175,175,180,0.55) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.70) 49%, rgba(175,175,180,0.65) 50%, rgba(175,175,180,0.55) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.70) 49%, rgba(175,175,180,0.65) 50%, rgba(175,175,180,0.55) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.70) 49%, rgba(175,175,180,0.65) 50%, rgba(175,175,180,0.55) 100%);
}
.barbg {
	background:rgba(175,175,180,0.20);
	background:linear-gradient(top, rgba(175,175,180,0.15) 49%, rgba(175,175,180,0.25) 50%, rgba(175,175,180,0.20) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.15) 49%, rgba(175,175,180,0.25) 50%, rgba(175,175,180,0.20) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.15) 49%, rgba(175,175,180,0.25) 50%, rgba(175,175,180,0.20) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.15) 49%, rgba(175,175,180,0.25) 50%, rgba(175,175,180,0.20) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.15) 49%, rgba(175,175,180,0.25) 50%, rgba(175,175,180,0.20) 100%);
}
.expand_toggle_neg:active, .expand_toggle_plus:active {
	background:rgba(175,175,180,0.50);
	background:linear-gradient(top, rgba(175,175,180,0.90) 49%, rgba(175,175,180,0.85) 50%, rgba(175,175,180,0.65) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.90) 49%, rgba(175,175,180,0.85) 50%, rgba(175,175,180,0.65) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.90) 49%, rgba(175,175,180,0.85) 50%, rgba(175,175,180,0.65) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.90) 49%, rgba(175,175,180,0.85) 50%, rgba(175,175,180,0.65) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.90) 49%, rgba(175,175,180,0.85) 50%, rgba(175,175,180,0.65) 100%);
	border:1px solid rgba(175,175,180,0.75);
}
.expand_toggle_neg, .expand_toggle_plus {
	background:rgba(175,175,180,0.50);
	background:linear-gradient(top, rgba(175,175,180,0.70) 49%, rgba(175,175,180,0.65) 50%, rgba(175,175,180,0.55) 100%);
	background:-o-linear-gradient(top, rgba(175,175,180,0.70) 49%, rgba(175,175,180,0.65) 50%, rgba(175,175,180,0.55) 100%);
	background:-ms-linear-gradient(top, rgba(175,175,180,0.70) 49%, rgba(175,175,180,0.65) 50%, rgba(175,175,180,0.55) 100%);
	background:-moz-linear-gradient(top, rgba(175,175,180,0.70) 49%, rgba(175,175,180,0.65) 50%, rgba(175,175,180,0.55) 100%);
	background:-webkit-linear-gradient(top, rgba(175,175,180,0.70) 49%, rgba(175,175,180,0.65) 50%, rgba(175,175,180,0.55) 100%);
	border:1px solid rgba(175,175,180,0.75);
	cursor:pointer;
}
