body {
	background:rgba(0,0,0,0.85) url('/IMG_SKIN_BG_BLACK') center top fixed no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	color:rgb(125,125,125);
}
a, a:visited, a:active, a.msg, ul#menu li a, ul#menu li ul li a, input:hover, textarea:hover, select:hover, welcome, title, a.title, td.title, td.listtitle, a.listtitle, .blue_gradient, .toptext, tree, a.tabtext {
	text-decoration:none;
	color:rgb(150,150,150)
}
a:hover, a.tree:hover, a.title:hover, a.listtitle:hover, td.footer a:hover, a.tabtext:hover, ul#menu li a:hover, ul#menu li ul li a:hover, input[type=button]:hover, input[type=submit]:hover, input[type=checkbox]:hover {
	color:rgb(50,125,200);
}
input, textarea, select {
	color:rgba(255,255,255,0.60);
	border:1px solid rgba(255,255,255,0.25);
	background:rgba(0,0,0,0.15);
	background:linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.15) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.15) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.15) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.15) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.15) 100%);
}
input[type=button], input[type=submit] {
	background:linear-gradient(top, rgba(0,0,0,0.25) 49%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.20) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.25) 49%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.20) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.25) 49%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.20) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.25) 49%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.20) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.25) 49%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.20) 100%);
}
input[type=button]:hover, input[type=submit]:hover {
	background:linear-gradient(top, rgba(0,0,0,0.01) 49%, rgba(0,0,0,0.11) 50%, rgba(0,0,0,0.06) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.01) 49%, rgba(0,0,0,0.11) 50%, rgba(0,0,0,0.06) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.01) 49%, rgba(0,0,0,0.11) 50%, rgba(0,0,0,0.06) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.01) 49%, rgba(0,0,0,0.11) 50%, rgba(0,0,0,0.06) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.01) 49%, rgba(0,0,0,0.11) 50%, rgba(0,0,0,0.06) 100%);
}
ul#menu li a, ul#menu li ul li a:hover {
	border-left:1px solid rgba(0,0,0,1);
	border-right:1px solid rgba(0,0,0,1);
	border-bottom:1px solid rgba(0,0,0,1);
	box-shadow:0px 2px 3px 0px rgba(0,0,0,0.55);
	-moz-box-shadow:0px 2px 3px 0px rgba(0,0,0,0.55);
	-webkit-box-shadow:0px 2px 3px 0px rgba(0,0,0,0.55);
	background:rgba(0,0,0,0.10);
	background:linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.25) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.25) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.25) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.25) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.25) 100%);
}
ul#menu li a:hover, ul#menu li ul li a  {
	border-left:1px solid rgba(0,0,0,1);
	border-right:1px solid rgba(0,0,0,1);
	border-bottom:1px solid rgba(0,0,0,1);
	background:rgba(0,0,0,0.20);
	background:linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.05) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.05) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.05) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.05) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.05) 100%);
}
ul#menu li ul li {
	background:rgba(35,35,35,0.95);
}
ul#menu li {
	background:rgba(0,0,0,0.50);
}
table.table {
	background:rgba(0,0,0,0.50);
	border:1px solid rgba(0,0,0,1);
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.75);
}
td.tab {
	background:rgba(0,0,0,0.30);
}
td.tabselected {
	background:rgba(0,0,0,0.20);
}
td.title, td.footer, td.listtitle, .blue_gradient {
	background:rgba(0,0,0,0.30);
	background:linear-gradient(top, rgba(0,0,0,0.40) 49%, rgba(0,0,0,0.45) 50%, rgba(0,0,0,0.35) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.40) 49%, rgba(0,0,0,0.45) 50%, rgba(0,0,0,0.35) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.40) 49%, rgba(0,0,0,0.45) 50%, rgba(0,0,0,0.35) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.40) 49%, rgba(0,0,0,0.45) 50%, rgba(0,0,0,0.35) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.40) 49%, rgba(0,0,0,0.45) 50%, rgba(0,0,0,0.35) 100%);
}
td.header, td.content, td.stats {
	background:rgba(0,0,0,0.15);
	background:linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.25) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.25) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.25) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.25) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.25) 100%);
}
.highlighted {
	background:rgba(0,0,0,0.20);
	border:1px solid rgba(0,0,0,0.75);
}
table.list, div.list {
	background:rgba(25,25,25,0.50);
}
td.list, td.listwrap, .bar-row2 {
	border-bottom:1px solid rgba(0,0,0,0.30);
	background:rgba(0,0,0,0.20);
	background:linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.25) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.25) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.25) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.25) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.25) 100%);
}
td.list2, td.listwrap2, .bar-row1 {
	border-bottom:1px solid rgba(0,0,0,0.10);
	background:rgba(0,0,0,0.15);
	background:linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.15) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.15) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.15) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.15) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.15) 100%);
}
.listhighlight, .listwraphighlight {
	border-bottom:1px solid rgba(0,0,0,0.20);
	background:rgba(0,0,0,0.10);
	background:linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.15) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.15) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.15) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.15) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.15) 100%);
}
.list2highlight, .listwrap2highlight {
	border-bottom:1px solid rgba(0,0,0,0.10);
	background:rgba(0,0,0,0.10);
	background:linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.05) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.05) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.05) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.05) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.05) 100%);
}
.off_white {
	color:1px solid rgba(0,0,0,0.75);
}
.trim {
	border:1px solid rgba(0,0,0,0.75);
}
.top-border {
	border-top:1px solid rgba(0,0,0,0.75);
}
#livesearch {
	background:rgba(0,0,0,0.20);
}
.hoverin {
		background:rgba(0,0,0,0.30);
}
.hoverout {
		background:rgba(0,0,0,0.15);
}
.count_notice_none {
	background:rgba(0,0,0,0.50);
	background:linear-gradient(top, rgba(0,0,0,0.70) 49%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.55) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.70) 49%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.55) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.70) 49%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.55) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.70) 49%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.55) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.70) 49%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.55) 100%);
}
.bar {
	background:rgba(255,255,255,0.05);
}
.barbg {
	border:1px solid rgba(0,0,0,0.50);
	background:rgba(0,0,0,0.20);
	background:linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.25) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.25) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.25) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.25) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.25) 100%);
}
.expand_toggle_neg:active, .expand_toggle_plus:active {
	background:rgba(0,0,0,0.50);
	background:linear-gradient(top, rgba(0,0,0,0.90) 49%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,0.65) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.90) 49%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,0.65) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.90) 49%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,0.65) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.90) 49%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,0.65) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.90) 49%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,0.65) 100%);
	border:1px solid rgba(0,0,0,0.75);
}
.expand_toggle_neg, .expand_toggle_plus {
	background:rgba(0,0,0,0.50);
	background:linear-gradient(top, rgba(0,0,0,0.70) 49%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.55) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0.70) 49%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.55) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0.70) 49%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.55) 100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,0.70) 49%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.55) 100%);
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.70) 49%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.55) 100%);
	border:1px solid rgba(0,0,0,0.75);
	cursor:pointer;
}
